body {
    background-color: #fafafa;
    font-family: "Arial";
}

img {
    margin-bottom: 3px;

}

p {
    font-size: 20px;
}

#perfil {
    width: 100%;    
   /* position: relative;
    align-items: center;*/
}

/*#perfil img {
    margin-bottom: 3px;
    vertical-align: middle;  
    position: relative;
 }*/

 #float img {
    vertical-align: middle;
    display:block;
    margin:auto;
 }

 #tperf {
    color: #403F3C;
    text-align: center;
    margin-top: 60px;
    font-size: 15px;
 }

  #tperf q {
    color: #403F3C;
    text-align: center;
    margin-top: 60px;
    font-size: 14px;
 }
/*#textoalineado {
    float: left;
    vertical-align: middle;
}*/

#section1 {
    margin-top: 40px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 80px;
}

#Descripción {
    margin-top: 40px;
    font-family: "Arial";
    font-size: 70%;
    text-align: center;
    margin-bottom: 80px;
    color: #80607E;
}

h1 {
    letter-spacing: 4px;
    font-family: "Arial";
    font-size: 24px;
    font-weight: lighter;
    color: #666666;

} 

h2 {
    font-family: "Arial";
    font-size: 28px;
    color: #727AA6;

}

#filtros {
    width: 40%;
    margin: auto;
    margin-bottom: 80px;
}

#titulo-filtro {
    font-size: 21px;
    text-align: right;
}

#filtros ul li {
    margin: auto;
    list-style:none;
    text-align: left;
    border: 1px;
    border-style: solid;
    border-color: #666666;
    padding: 10px;
 }  

#section4 {
    margin: auto;
    width: 60%;
    font-size: 28px;
    color: #FA9FD1;
}

#footer{
    background-color: #666666;
    list-style:none;
    padding:20px;
    margin-top: 40px;
    text-align:right;
}
/* Inline-block tiene limites para respetar el tamaño especificado, preguntar por estas excepciones y porque */
#footer ul li {
        display: inline;
    margin: auto;
    padding: 10px;
 }  